@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 248, 250, 252;
}

.dark {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 2, 6, 23;
}

* {
  cursor: none !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-secondary-dark;
  }
}

.glass {
  @apply bg-white/70 backdrop-blur-md border border-white/20;
}
